* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
}

form {
    margin-top: 40px;
}

input,button {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    resize: none;
}

button {
    background-color: #0c1bf0;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 300px;
    font-size: 18px;
    font-style:normal;
    cursor: pointer;
}

button:hover {
    background-color: #191cc4;
}

.sucess-menssage{
    background-color: green;
    padding: 16px;
    color: white;
    display: none;
}
.error-message{
    padding: 8px;
    background-color: red;
    color: white;
    margin-bottom: 8px;
    font-size: 12px;
    display: none;
}